﻿@using Cliente_IT3.Helpers
@model List<Cliente_IT3.ViewModels.MovieVM>


@{
    ViewBag.Title = "Index";
}


<h2>Movies</h2>

<center>
    <form method="get">
        <input width="50" type="text" name="search" />
        <button type="submit">Search</button>
    </form>
</center>
<table class="table">
   

@foreach (var item in Model) {
    <tr>
        <td>

            <img src="@Html.DisplayFor(modelItem => item.Poster)" />
        </td>

        <td>
            <center><b>@Html.DisplayFor(modelItem => item.Title) (@Html.DisplayFor(modelItem => item.Year))</b></center><br/>
           <b>Genre: </b> @Html.DisplayFor(modelItem => item.Genre)<br />
            <b>Country: </b> @Html.DisplayFor(modelItem => item.Country)<br />
            <b>IMDB Rating: </b> @Html.DisplayFor(modelItem => item.imdbRating) (@Html.DisplayFor(modelItem => item.imdbVotes) votes)<br />
            <b>Director: </b> @Html.DisplayFor(modelItem => item.Director)<p /><br />
            @Html.DisplayFor(modelItem => item.Plot)<br />

            <p /><center><div class="fb-share-button" data-href="@Html.DisplayFor(modelItem => item.youtubeLink2)" data-layout="button_count"></div></center>


        </td>

        <td>
            <center>
                <iframe width="420" height="315"
                        src="@Html.DisplayFor(modelItem => item.youtubeLink1)"></iframe>
            </center>
        </td>


       
       

      
    </tr>
}

</table>
